
.wishlist-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 40px;
    text-align: center;
    height: fit-content;
}

.wishlist-card > li {
    list-style: none;
    width: 200px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 8px rgba(122, 120, 120, 0.8);
    border-radius: 10px;
    font-size: 14px;
}

.wishlist-card > li:hover {
    background-color: #f1eeee;
}

.wishlist-image {
    width: 60%;
    object-fit: cover;
    margin-left: 25px;
    cursor: pointer;
}

.empty-wishlist-text {
    text-align: center;
    font-size: 20px;
}

.move-to-cart-btn {
    margin: 4px;
    padding: 6px;
    border: none;
    background-color: rgb(118, 115, 115);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.cart-determine-btn {
    margin: 4px;
    padding: 5px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(31, 73, 73);
    text-decoration: none;
}

.trash-btn {
    float: right;
    color: rgb(192, 19, 19);
    cursor: pointer;
}

.action-btn {
    margin: 4px;
}