.category-section {
  font-weight: bolder;
  background: linear-gradient(white, rgb(234, 225, 225));
  padding-bottom: 20px;
}
.category-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 2rem;
}
.category-item {
  list-style: none;
  text-align: center;
  border: 1px solid rgb(178, 175, 175);
  box-shadow: 1px 2px 5px rgba(147, 33, 33, 0.8);
  border-radius: 15px;
  padding: 1rem 2rem;
  width: 15rem;
  margin-right: 30px;
  cursor: pointer;
}

.category-item:hover {
  background-color: rgb(210, 204, 204);
}

.category-image {
  /* position: relative;
  top: 5px; */
  width: 80%;
  overflow: hidden;
}

.category-heading {
    margin-bottom: 8px;
  font-size: 25px;
}
