.user-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    margin: 3rem;
}

.tabs {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 1px 2px 9px rgba(0,0,0,0.8);
    background-color: azure;
    cursor: pointer;
}


.user-infos {
  box-shadow: 1px 2px 9px rgba(0,0,0,0.8);
  background-color: beige;
  padding: 4rem;
  width: 40rem;
  margin: -2rem 1rem; 
  font-size: 18px;
}

.user-infos > div > p {
  margin: 40px;
 
}

.address-list > li{
  list-style: none;
  margin: 2px;
  padding: 2px;
}

ul > li > span {
  color: grey;
}

#name-details {
  font-size: 30px;
}

.address-action-btns {
  padding: 7px;
  margin: 7px;
  border: none;
  background-color: #c21717;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.add-new {
  background-color: rgb(65, 110, 112);
  margin-left: 2rem;
  padding: 8px;
}

