.navigation-bar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(24, 23, 23);
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
}

.navbar-links {
    margin: 20px;
    color: aliceblue;
    text-decoration: none;
}

.search-area {
    outline: none;
    border-radius: 10px;
    width: 30%;
    height: 40px;
    margin: 10px;
    font-size: 16px;
    /* overflow: hidden; */
}

@media (max-width: 650px)
{
 .search-area {
    width: 60%;
}
}