.shelf-container {
    display: flex;
}

/* Filters */


.filter-area {
    display: flex;
    flex-direction: column;
    
    background-color: antiquewhite;
    width: 250px;
    height: 100%;
    padding: 1rem;
    position: fixed;
    left: 0;
}

.filter-heading, .prices {
    display: flex;
    justify-content: space-between;
    grid-gap: 0.5rem;
    gap: 0.5rem;
}

.filter-heading > p {
    color: grey;
    cursor: pointer;
}

.price-filters, .list-area {
    display: flex;
    flex-direction: column;
    grid-gap: 0.1rem;
    gap: 0.2rem;
}

.prices {
    display: flex;
    justify-content: space-around;
}


.categories, .ratings, .sorting {
    display: flex;
    flex-direction: column;
    padding: 3px;
    font-size: 14px;
    line-height: 1.4rem;
}


/* Products */

.products-showcase {
   /* position: relative; */
   /* display: flex; */
   margin-left: 18rem;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
}

.product-item {
    list-style: none;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    box-shadow: 1px 4px 5px rgba(187, 138, 138, 0.9);
    width: 12rem;
    padding: 25px;
}

.product-image {
    width: 80%;
    margin-top: 10px;
    margin-left: 20px;
}

.loading-sign {
    margin: auto;
    margin-top: 20px;
}

/* Buttons */

.wishlist-btn {
    color: rgb(203, 197, 197);
    display: block;
    float: right;
    margin-top: -5px;
    /* margin-left: -8px; */
    font-size: 20px;
    cursor: pointer;
}

.wishlist-btn:hover {
    color: rgb(226, 55, 55);
}

.cart-btn {
    padding: 10px 12px;
    background-color: rgb(201, 32, 32);
    color: beige;
    font-weight: bold;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-btn:hover {
    background-color: rgb(101, 9, 9);
}

/* Inputs */

input[type="range"] {
    accent-color: rgb(163, 23, 23);
}

input[type='radio'] {
    accent-color: rgb(163, 23, 23);
}

input[type='checkbox'] {
    accent-color: rgb(163, 23, 23);
}


@media (max-width: 650px) 
{
    .filter-area {
        background-color: antiquewhite;
        width: 110px;
        position: fixed;
        top: 9rem;
        bottom: 0;
        font-size: 12px;
    }

    .categories, .ratings, .sorting {
        display: flex;
        flex-direction: column;
        padding: 0px;
        line-height: 0.7rem;
        font-size: 11px;
    }


    .products-showcase {
        /* display: flex; */
        margin-left: 8rem;
     
     }

     .product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 3.5rem;
    }

     .product-item {
        list-style: none;
        box-shadow: 1px 4px 5px rgba(187, 138, 138, 0.9);
        width: 110px;
        padding: 15px;
        overflow: hidden;
    }

}
