@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap');

.App {
  /* text-align: center; */
  font-family: 'Karla', sans-serif;
  
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 89%, 37%);
}

.test-area {
  text-align: center;
  margin-top: 20px;
}
