/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

.App {
  /* text-align: center; */
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 650;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 89%, 37%);
}

.test-area {
  text-align: center;
  margin-top: 20px;
}
