@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap');

.App {
  /* text-align: center; */
  font-family: 'Karla', sans-serif;
}

.test-area {
  text-align: center;
  margin-top: 20px;
}
